.auth__main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $primary;
}

.auth__box-container {
	background-color: #fff;
	box-shadow: 0px 3px 3px $dark-grey;
	border-radius: 3px;
	padding: 2px;
	padding-top: .2rem;
	min-width: 15.7rem;
	max-width: 20rem;
}

.auth__form {width: 100%;}
.auth__title {
	color: darken($color: $primary, $amount: 20);
	margin-bottom: 1rem;
	font-size: 1.25rem;
	font-weight: bold;
}
.auth__fieldset {
	border: none;
}
.auth__span {
	display: inline-block;
	margin-bottom: .5rem;
}
.auth__field {
	margin-bottom: .5rem;
}
.auth__input {
	margin-bottom: 10px;
	height: 1.25rem;
	width: 100%;

	color: $dark-grey;
	border: 0px;
	border-bottom: 1px solid $light-grey;
	font-size: 1rem;

	transition: border-bottom .5s ease;
	&:focus {
		outline: none;
		border-bottom: 1px solid $primary;
	}
}
.auth__social-network {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	padding-bottom: 1.25rem;
	margin-bottom: 1rem;
}
.auth__alert {
	border-radius: 5px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: .7rem;
	padding: .3rem;
}
.auth__alert--error {
	background-color: red;
	margin-bottom: 1rem;
	text-transform: uppercase;
	padding: .5em;
	box-shadow: 0 2px $dark-grey;
}
